<div class="container-fluid">
  <div class="col-md-6">
    <h1>Cadastrar Novo Produto</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Cancelar', products_path, :class => "btn btn-danger" %>

  </div>
</div>